<!DOCTYPE html>
<html>
  <head>
    <!--
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    -->
    <link rel='stylesheet' href='../static/styles/styles.css' >
    <script src="classes.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Raleway:wght@100;200;400&display=swap" rel="stylesheet">
  <body id='classes-body'>
    <navbar>
      <ul id='logo-menu'>
        <li id='logo-list'><a href=""><img id='logo' src='../static/images/Logo.png'></li>
        <li id='hackademy'>HACKADEMY</li>
      </ul>
      <ul id='web-title'>
        <li><a href=""></a></li>
      </ul>
      <ul id='menu-items'>
        <li><a href="">CLASSES</a></li>
        <li><a href="">ABOUT</a></li>
        <li><a href="">LOG IN</a></li>
        <li><a href=""></a></li>
      </ul>
    </navbar>
    <div id='courses-header'>
      <h1 class='heading'>COURSES<h1>
    </div>
    <section id='classes'>
      <div class='category' id='everyday'>
        <div id='header2'><h2>Everyday Activities</h2></div>
        <div class='class-collection'>
          <div class='class'>
            <img src='../static/images/img-holder.png'>
            <p> Placeholder </p>
          </div>
          <div class='class'>
            <img src='../static/images/img-holder.png'>
            <p> Placeholder </p>
          </div>
          <div class='class'>
            <img src='../static/images/img-holder.png'>
            <p> Placeholder </p>
          </div>
          </div>
      </div>
      <div class='category' id='fine-motor'>
      <div id='header2'><h2>Fine Motor</h2></div>
        <div class='class-collection'>
          <div class='class'>
            <img src='../static/images/img-holder.png'>
            <p> Placeholder </p>
          </div>
          <div class='class'>
            <img src='../static/images/img-holder.png'>
            <p> Placeholder </p>
          </div>
          <div class='class'>
            <img src='../static/images/img-holder.png'>
            <p> Placeholder </p>
          </div>
        </div>
      </div>
      <div class='category' id='facial-movement'>
        <div id='header2'><h2>Facial Movement</h2></div>
        <div class='class-collection'>
          <div class='class'>
            <img src='../static/images/img-holder.png'>
            <p> Placeholder </p>
          </div>
          <div class='class'>
            <img src='../static/images/img-holder.png'>
            <p> Placeholder </p>
          </div>
          <div class='class'>
            <img src='../static/images/img-holder.png'>
            <p> Placeholder </p>
          </div>
        </div>
      </div>
    </section>
    
    <section class='footer'>
      <div>
        <ul>
          <li><a href="">CONTACT US</a></li>
          <li><a href="">ABOUT</a></li>
          <li><a href="">SOCIAL MEDIA</a></li>
          </ul>
      </div>
    </section>
  </body>
</html>
