<!DOCTYPE html>
<html>
  <head>
    <!--
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    -->
    <link rel='stylesheet' href='../static/styles/styles.css' >
    <script src="classes.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Raleway:wght@100;200;400&display=swap" rel="stylesheet">
  <body id='classes-body'>
    <navbar>
      <ul id='logo-menu'>
        <li id='logo-list'><a href="home.html"><img id='logo' src='../static/images/Logo.png'></a></li>
        <li id='hackademy'>HACKADEMY</li>
      </ul>
      <ul id='menu-items'>
        <li><a href="">MAKE A COURSE</a></li>
        <li><a href="">CLASSES</a></li>
        <li><a href="">ABOUT</a></li>
        <li><a href="">LOG IN/SIGN UP</a></li>
      </ul>
    </navbar>
    <div id='courses-header'>
      <h1 class='heading'>COURSES<h1>
    </div>
    <section id='classes'>
      <div class='category' id='everyday'>
        <div id='header2'><h2>EVERYDAY ACTIVITIES</h2></div>
        <div class='class-collection'>
          <div class='class'>
            <img src='../static/images/physical-therapy.png' loading="lazy">
            <p> Physical Therapy </p>
            <p>Take on basic physical therapy in the comforts of your own home, focusing on beginning rehabilitation.</p>
          </div>
          <div class='class'>
            <img src='../static/images/yoga.png' loading="lazy">
            <p> Yoga/Stretches </p>
            <p>Learn foundational yoga poses without distractions - with live feedback on posture and more!</p>
          </div>
          <div class='class'>
            <img src='../static/images/grasping.png' loading="lazy">
            <p> Grasping </p>
            <p>Begin to re-learn grasping techniques with this virtual course, with skills from holding objects to picking them up.</p>
          </div>
          </div>
      </div>
      <div class='category' id='fine-motor'>
      <div id='header2'><h2>Fine Motor</h2></div>
        <div class='class-collection'>
          <div class='class'> <a href='cooking-class.html' loading="lazy">
            <img src='../static/images/cooking.png'>
            <p> Cooking </p>
            <p>Learn to cook again with tracking to ensure safety and accuracy!</p>
            </a>
          </div>
          <div class='class'>
            <img src='../static/images/writing.png' loading="lazy">
            <p> Writing </p>
            <p>Write and grasp writing utensils, as well as handwriting skills that are easy on the hand.</p>
          </div>
          <div class='class'>
            <a href='asl-class.html'><img src='../static/images/asl.png' loading="lazy">
            <p> ASL</p>
            <p>Learn to communicate again with basic ASL (American Sign Language) with real time feedback.</p>
            </a>
          </div>
        </div>
      </div>
      <div class='category' id='facial-movement'>
        <div id='header2'><h2>Facial Movement</h2></div>
        <div class='class-collection'>
          <div class='class'>
            <img src='../static/images/speaking.png' loading="lazy">
            <p> Facial Movement </p>
            <p>With tracking on facial muscles, relearn to speak and enunciate words at your own pace.</p>
          </div>
          <div class='class'>
            <img src='../static/images/facial-expressions.png' loading="lazy">
            <p> Facial Expressions </p>
            <p>Test your expressions with basic tracking technologies - with baseline translation from our database.</p>
          </div>
          <div class='class'>
            <img src='../static/images/breathing.png' loading="lazy">
            <p> Breathing </p>
            <p>Regulate breathing with simple respiration exercises!</p>
          </div>
        </div>
      </div>
    </section>
    
    <section class='footer'>
      <div>
        <ul>
          <li><a href="">CONTACT US</a></li>
          <li><a href="">ABOUT</a></li>
          <li><a href="">SOCIAL MEDIA</a></li>
          </ul>
      </div>
    </section>
  </body>
</html>
