<!DOCTYPE html>
<html>
  <head>
    <!--
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    -->
    <link rel='stylesheet' href='../static/styles/styles.css' >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Raleway:wght@100;200;400&display=swap" rel="stylesheet">
  <body>
    <navbar>
      <ul id='logo-menu'>
        <li id='logo-list'><a href=""><img id='logo' src='../static/images/Logo.png'></li>
        <li id='hackademy'>HACKADEMY</li>
      </ul>
      <ul id='web-title'>
        <li><a href=""></a></li>
      </ul>
      <ul id='menu-items'>
        <li><a href="">CLASSES</a></li>
        <li><a href="">ABOUT</a></li>
        <li><a href="">LOG IN</a></li>
        <li><a href=""></a></li>
      </ul>
    </navbar>

    <section id='hero'>
      <div class='video'><img id='gif' src='../static/images/cutting.gif'><!--<img src="{{ url_for('video') }}" width="50%" />
        <p>{{url_for('text')}}</p> -->
      </div>
      <div id='banner-box'>
        <div id='banner'>
          <h1 id='banner-header'>Made for learners, <br> by learners.</h1>
          <p>
            Engaging with real-time feedback without the pressure of responding real-time.
          </p>
        </div>
      </div>
    </section>
    <section id = 'services'>
      <h1>How Hackademy Works </h1>
      <section id='services-individual'>
        <div class='infomercial'>
          <div class='info-img-box'><img class='infomercial-img' src="../static/images/Hands.png"></div>
            <div class='info-txt-box'>
              <p>Courses are taught with a hand-on approach, allowing for learners to fully engage with the content
              </p>
            </div>
        </div>
        <div class='infomercial'>
          <div class='info-img-box'><img class='infomercial-img' src="../static/images/Feedback.png"></div>
          <div class='info-txt-box'>
            <p>Our technology provides learners with immediate feedback using our tracking emchanisms, assessing technique real time.
            </p>
          </div>
        </div>
        <div class='infomercial'>
          <div class='info-img-box'><img class='infomercial-img' src="../static/images/Private.png"></div>
          <div class='info-txt-box'>
            <p>All course progress, tracking, and identities will be kept private and secure - guaranteed.
            </p>
          </div>
        </div>
      </section>
    </section>
    <section class='footer'>
      <div>
        <ul>
          <li><a href="">CONTACT US</a></li>
          <li><a href="">ABOUT</a></li>
          <li><a href="">SOCIAL MEDIA</a></li>
          </ul>
      </div>
    </section>
  </body>
</html>
