<!DOCTYPE html>
<html>
  <head>
    <!--
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    -->
    <link rel='stylesheet' href='../static/styles/styles.css' >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Raleway:wght@100;200;400&display=swap" rel="stylesheet">
  <body id='classes-body'>

  <script>
        $(window).on("load",function(){
          $(".loader-wrapper").fadeOut("slow");
        });
    </script>
    <navbar>
      <ul id='logo-menu'>
        <li id='logo-list'><a href="home.html"><img id='logo' src='../static/images/Logo.png'></a></li>
        <li id='hackademy'>HACKADEMY</li>
      </ul>
      <ul id='menu-items'>
        <li><a href="">MAKE A COURSE</a></li>
        <li><a href="classes.html">CLASSES</a></li>
        <li><a href="">ABOUT</a></li>
        <li><a href="">LOG IN/SIGN UP</a></li>
      </ul>
    </navbar>
    <div id='courses-header'>
      <h1 class='heading'>YOGA<h1>
    </div>

    <section class='video-section'>
        <h2>
            Lecture 01: Learning The Basics
        </h2>
        <div class='video-player'>
            <div class='video-lecture'>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/pWobp3phsEU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class='video-camera'><img src="{{ url_for('yoga2') }}"> <!--<img src="{{ url_for('video') }}" width="50%" />
        <p>{{url_for('text')}}</p> --></div>
        </div>
        <div id='sales'>
            <button id='buy-btn'> Buy Full Course </button>
        </div>
        <div id='up-next'>
            <div class='upcoming-lect'>
            <a href=''>
                <p>Lecture 02: Polishing The Basics</p>
                <img src='../static/images/yoga2.png'>
            </a>
            </div>
            <div class='upcoming-lect'>
            <a href=''>
                <p>Lecture 03: Intermediate Yoga</p>
                <img src='../static/images/yoga1.png'>
            </a>
            </div>
            <div class='upcoming-lect'>
            <a href=''>
                <p>Lecture 04: Intermediate Yoga II</p>
                <img src='../static/images/yoga3.png'>
            </a>
            </div>
            <div class='upcoming-lect'>
            <a href=''>
                <p>Lecture 05: Intermediate Yoga III</p>
                <img src='../static/images/yoga4.png'>
            </a>
            </div>
        </div>
    </section>


    <section class='footer'>
      <div>
        <ul>
          <li><a href="">CONTACT US</a></li>
          <li><a href="">ABOUT</a></li>
          <li><a href="">SOCIAL MEDIA</a></li>
          </ul>
      </div>
    </section>
  </body>
</html>
