navbar {
  display: flex;
  align-items: center;
  background-color: white;
  opacity: 0.9;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-style: bold;
  font-family: "Raleway", sans-serif;
  position: fixed; /* Set the navbar to fixed position */
  width: 100%; /* Full width */
}

#hackademy {
  font-size: 40px;
  text-decoration: none;
  color: black;
}

#logo-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#web-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo-list {
  padding: 0;
  margin: 0;
}

navbar ul li a {
  color: black;
}

ul li {
  opacity: 1;
}

#logo {
  width: 80px;
}

#gif {
  width: 600px;
}

#banner-header {
  font-size: 50px;
  font-style: bold;
}

#banner p {
  width: 500px;
}

#menu-items {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-stretch: expanded;
  font-weight: 200;
  width: 80%;
  border-radius: 5px;
  padding: 3px;
}

#header2 {
  display: flex;
  justify-content: center;
  background: rgba(218, 223, 225, 0.75);
}

.class {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px grey;
  max-width: 300px;
}

.class:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  cursor: pointer;
}

#classes {
  display: flex;
  flex-direction: column;
}

.upcoming-lect {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 70%;
}

.upcoming-lect a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}

.upcoming-lect a:hover {
  background-color: #d3ded6;
}

#buy-btn:hover {
  background-color: #9ea8a1;
  cursor: pointer;
}

.upcoming-lect img {
  width: 100px;
  border-radius: 5px;
}

#up-next {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.class-collection {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 25px;
}

#hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 500px;
}

#hero,
#classes {
  border-width: 0 0 1px 0;
}

#hero {
  padding: 200px 0 50px 0;
}

.video {
  display: flex;
  align-items: center;

  width: 600px;
}

.video-camera img {
  max-width: 560px;
  width: 100%;
}

.video-section {
  margin: auto;
  width: 90%;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px -5px 20px grey;
  margin-bottom: 100px;
}

#buy-btn {
  background-color: blue;
  color: white;
  border-radius: 5px;
  border-style: none;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
}

.video-player {
  width: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 50px;
}

.video-player iframe {
  overflow: hidden;
}

#classes img {
  width: 300px;
}

#banner-box {
  display: flex;
  align-items: center;
}

#hero div {
  margin: 20px;
}

.info-img-box {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
}

.infomercial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#services-individual {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.heading {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  margin-bottom: 33.5px;
}

#sales {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.infomercial-img {
  width: 250px;
}

.info-txt-box {
  width: 300px;
  text-align: center;
}

.infomercial-img {
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

navbar li {
  float: left;
}

.class-collection a {
  text-decoration: none;
  color: black;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 5px;
}

/* Change the link color to #111 (black) on hover */
navbar li a:hover {
  background-color: #d3ded6;
}

body {
  margin: 0;
  font-family: "Lora", serif;
}

#home-body {
  background-image: url("../images/background.png");
  background-size: 100% 100%;
}

#courses-header {
  padding-top: 143.9px;
}

#courses-header h1 {
  text-align: center;
}

#classes-body {
  background-image: url("../images/background2.png");
  background-size: 100% 100%;
}

.footer {
  background-color: #9ea8a1;
}

.footer div {
  padding: 50px;
}
