navbar {
  display: flex;
  align-items: center;
  background-color: white;
  opacity: 0.9;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-style: bold;
  font-family: "Raleway", sans-serif;
  position: fixed; /* Set the navbar to fixed position */
  width: 100%; /* Full width */
}

#hackademy {
  font-size: 40px;
  text-decoration: none;
  color: black;
}

#logo-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#web-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo-list {
  padding: 0;
  margin: 0;
}

navbar ul li a {
  color: black;
}

ul li {
  opacity: 1;
}

#logo {
  width: 80px;
}

#gif {
  width: 600px;
}

#banner-header {
  font-size: 50px;
  font-style: bold;
}

#banner p {
  width: 500px;
}

#menu-items {
  display: flex;
  justify-content: flex-end;
}

#hero {
  padding: 150px 0 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-style: solid;
  border-width: 0 0 1px 0;
  height: 500px;
}

.video {
  display: flex;
  align-items: center;
  border-style: solid;
  border-color: #d3ded6;
  width: 600px;
}

#banner-box {
  display: flex;
  align-items: center;
}

#hero div {
  margin: 20px;
}

.info-img-box {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
}

.infomercial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#services-individual {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

#services h1 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  margin-bottom: 100px;
}

.infomercial-img {
  width: 250px;
}

.info-txt-box {
  width: 300px;
  text-align: center;
}

.infomercial-img {
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

navbar li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 5px;
}

/* Change the link color to #111 (black) on hover */
navbar li a:hover {
  background-color: #d3ded6;
}

body {
  margin: 0;
  font-family: "Lora", serif;
  background-image: url("../images/background.png");
  background-size: 100% 100%;
}

.footer {
  background-color: #9ea8a1;
}

.footer div {
  padding: 50px;
}
