navbar {
  display: flex;
  align-items: center;
  background-color: white;
  opacity: 0.9;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-style: bold;
  font-family: "Raleway", sans-serif;
  position: fixed; /* Set the navbar to fixed position */
  width: 100%; /* Full width */
}

#hackademy {
  font-size: 40px;
  text-decoration: none;
  color: black;
}

#logo-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#web-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo-list {
  padding: 0;
  margin: 0;
}

navbar ul li a {
  color: black;
}

ul li {
  opacity: 1;
}

#logo {
  width: 80px;
}

#gif {
  width: 600px;
}

#banner-header {
  font-size: 50px;
  font-style: bold;
}

#banner p {
  width: 500px;
}

#menu-items {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-stretch: expanded;
  font-weight: 200;
  width: 80%;
  border-radius: 5px;
  padding: 3px;
}

#header2 {
  display: flex;
  justify-content: center;
  background: rgba(218, 223, 225, 0.75);
}

.class {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px grey;
}

.class:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  cursor: pointer;
}

#classes {
  display: flex;
  flex-direction: column;
}

.class-collection {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 25px;
}

#hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-style: solid;
  height: 500px;
}

#hero,
#classes {
  border-width: 0 0 1px 0;
}

#hero {
  padding: 200px 0 50px 0;
}

.video {
  display: flex;
  align-items: center;
  border-style: solid;
  border-color: #d3ded6;
  width: 600px;
}

#classes img {
  width: 300px;
}

#banner-box {
  display: flex;
  align-items: center;
}

#hero div {
  margin: 20px;
}

.info-img-box {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
}

.infomercial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#services-individual {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.heading {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  margin-bottom: 100px;
}

.infomercial-img {
  width: 250px;
}

.info-txt-box {
  width: 300px;
  text-align: center;
}

.infomercial-img {
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

navbar li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 5px;
}

/* Change the link color to #111 (black) on hover */
navbar li a:hover {
  background-color: #d3ded6;
}

body {
  margin: 0;
  font-family: "Lora", serif;
}

#home-body {
  background-image: url("../images/background.png");
  background-size: 100% 100%;
}

#courses-header {
  padding-top: 143.9px;
}

/*
#everyday {
  background-color: rgba(178, 185, 205, 0.5);
}

#fine-motor {
  background-color: rgba(118, 129, 158, 0.5);
}

#facial-movement {
  background-color: rgba(77, 93, 133, 0.5);
}

#everyday,
#fine-motor,
#facial-movement {
  box-shadow: -0.5em 0 0.4em grey;
}

*/

#courses-header h1 {
  text-align: center;
}

#classes-body {
  background-image: url("../images/background2.png");
  background-size: 100% 100%;
}

.footer {
  background-color: #9ea8a1;
}

.footer div {
  padding: 50px;
}
